/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h3, h4, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* Global styling start here */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family:'Futura Bold', sans-serif;
}

ul,li {list-style: none;}
a {text-decoration: none;}
body {font-family: 'Poppins', sans-serif;}

img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
}

.wrapper {
  max-width: 1360px;
  width: 300px;
  border: 1px solid #000;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

/* Global styling end-here */

/* ==========================================================================
   1. ANIMATION START HERE
========================================================================== */
.fun-food-logo img {
  width: 27%;
  height: auto;
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

h2 {
  position: absolute;
  top: 20%;
  font-size: 35px;
  color: red;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
}

.table {
  width: 100%;
  position:absolute;
  bottom: 0;
  -webkit-animation: bottom-fade 1s;
  animation: bottom-fade 1s;
  max-height: 85px;
}

@-webkit-keyframes bottom-fade {
  0% { opacity: 0; }
  50% { opacity: .5; }
  100% { opacity: 1; }
}

@keyframes bottom-fade {
  0% { opacity: 0; }
  50% { opacity: .5; }
  100% { opacity: 1; }
}

.plate {
  position: absolute;
  bottom: 0;
  width: 75%;
  left: -75%;
  -webkit-animation: left-slide-plate 5s  forwards ;
  animation: left-slide-plate 5s  forwards ;
}

@-webkit-keyframes left-slide-plate {
  30% { left: 0; }
  50% { left: 0; }
  75% { left: 0; }
  100% { left: -75%; }
}

@keyframes left-slide-plate {
  30% { left: 0; }
  50% { left: 0; }
  75% { left: 0; }
  100% { left: -75%; }
}

.boring-sandwich h2 {
  width: 50%;
  left: -80%;
  -webkit-animation: left-slide-text 5s 2s;
  animation: left-slide-text 5s 2s;
}

@-webkit-keyframes left-slide-text {
  30% {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  50% {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  75% {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  100% {
    left: -90%;
  }
}

@keyframes left-slide-text {
  30% {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  50% {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  75% {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  100% {
    left: -90%;
  }
}


.sad-sonali img { min-height: 280px; }

.sad-sonali {
  width: 75%;
  min-height: 280px;
  position: absolute;
  right: -75%;
  bottom: 12%;
  -webkit-animation: right-slide-img 5s 2s;
  animation: right-slide-img 5s 2s;
}

@-webkit-keyframes right-slide-img {
  30% { right: 0; }
  50% { right: 0; }
  75% { right: 0; }
  100% { right: -60%; } 
}

@keyframes right-slide-img {
  20% {right: 0;}
  70% {right: 0;}
  100% { right: -80%; }
}

.sandwiches {
  position: absolute;
  bottom: 0;
  left: -50%;
  width: 100%;
  -webkit-animation: left-slide-sandwich 12s 4s forwards;
  animation: left-slide-sandwich 13s 4s forwards;
}

.top-sandwich {
  width: 34%;
  position: absolute;
  top: -30%;
  left: 5%;
  z-index: 3;
  -webkit-animation: up-sandwich 2s 5.5s;
  animation: up-sandwich 2s 5.5s;
}

.middle-sandwich {
  position: absolute;
  width: 37%;
  left: 5%;
  z-index: 1;
  bottom: 30%;
}

.mayo {
  position: absolute;
  width:35%;
  left:5%;
  bottom: 42%;
  z-index: 2;
  opacity: 0;
  -webkit-animation: middle-right-sandwich 1.5s 6s forwards;
  animation: middle-right-sandwich 1.5s 6.5s forwards;
}

.bottom-sandwich {
  width: 50%;
  z-index: 1;
  max-height: 100px;
}

.knife {
  position: absolute;
  left: -30%;
  z-index: 4;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-animation: knife-slide 2s 6s;
  animation: knife-slide 2s 6s;
}

@-webkit-keyframes left-slide-sandwich {
  10% { left: 0; }
  100% { left: -50%; }
}

@keyframes left-slide-sandwich {
  10% { left: 0; }
  80% { left: 0; }
  100% { left: -50%; }
}

@-webkit-keyframes up-sandwich {
  90% { top: -80%; }
  100% { top:-32%; }
}

@keyframes up-sandwich {
  40% { top: -35%; }
  90% { top: -80%; }
  100% { top:-35%; }
}

@-webkit-keyframes knife-slide { 100% { left: 30%; } }

@keyframes knife-slide { 100% { left: 30%; } }

@-webkit-keyframes middle-right-sandwich { 
  50% { left: 2%; }
  100% { left: 5%; } 
}

@keyframes middle-right-sandwich {  100% { opacity: 1; } }

.tasty-sandwich h2 {
  width: 80%;
  left: -80%;
  -webkit-animation: left-slide-text 3s 8s;
  animation: left-slide-text 3s 8s; 
}

.happy-sonali img { min-height: 280px; }

.happy-sonali {
  width: 75%;
  min-height: 280px;
  position: absolute;
  bottom: 12%;
  right: -75%;
  -webkit-animation: right-slide-img 3s 8s;
  animation: right-slide-img 3s 8s;
}

h2 span { display: block; }

.fun-food-sandwich h2 {
  width: 100%;
  left: -100%;
  -webkit-animation: left-slide-text 4s 11.5s;
  animation: left-slide-text 4s 11.5s; 
  font-size: 30px;
}

.chef-figure img {  min-height: 280px; }

.chef-figure {
  width: 85%;
  min-height: 280px;
  position: absolute;
  right: -85%;
  -webkit-animation: right-slide-img 4s 11.5s;
  animation: right-slide-img 4s 11.5s;
  bottom: 12%;
} 

.funfoods-mayonnaise h2 {
  width: 80%;
  left: -90%;
  -webkit-animation: fun-food-text 2s 16s forwards;
  animation: fun-food-text 2s 16s forwards; 
}

.hat-figure {
  width: 40%;
  top: 15%;
  left: -50%;
  z-index: 6;
  position: absolute;
  -webkit-animation: hat-slide 3.5s 17s forwards;
  animation: hat-slide 3s 17s forwards;
}

.mayo-figure {
  width: 35%;
  position: absolute;
  right: -50%;
  bottom: 6%;
  -webkit-animation: right-slide-mayo 2s 16s forwards;
  animation: right-slide-mayo 2s 16s forwards;
}

@-webkit-keyframes hat-slide { 
  90% {
    left: 35%; 
  }

  100% {
    left: 35%;
    top: 60%; 
  }
}

@keyframes hat-slide { 
  80%{ left: 35%; }

  100% {
    left: 35%;
    top: 55%; 
  }
}

@-webkit-keyframes right-slide-mayo {
  100% { 
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%); 
  }
}

@keyframes right-slide-mayo {
  100% { 
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%); 
  }
}

@-webkit-keyframes fun-food-text {
  100% {
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
  }
}

@keyframes fun-food-text {
  100% {
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
  }
}

.get-recipe-btn {
  position: absolute;
  top: 20%;
  left: -50%;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  background-color: rgb(74, 22, 158);
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-animation: button-slide 2s 20s forwards;
  animation: button-slide 2s 20s forwards;
}

.get-recipe-btn:hover {
  background-color: rgb(37, 106, 233);
}

@-webkit-keyframes button-slide {

  100% {
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    top: 40%;
  }
}

@keyframes button-slide {

  100% {
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    top: 40%;
  }
}
/* ==========================================================================
   1. ANIMATION END HERE
========================================================================== */
